In [2]:
import pandas as pd
import numpy as np

In [5]:

col_acq = ['LoanID','Channel','SellerName','OrInterestRate','OrUnpaidPrinc','OrLoanTerm',
        'OrDate','FirstPayment','OrLTV','OrCLTV','NumBorrow','DTIRat','CreditScore',
        'FTHomeBuyer','LoanPurpose','PropertyType','NumUnits','OccStatus','PropertyState',
        'Zip','MortInsPerc','ProductType','CoCreditScore','MortInsType','RelMortInd'];

col_per = ['LoanID','MonthRep','Servicer','CurrInterestRate','CAUPB','LoanAge','MonthsToMaturity',
          'AdMonthsToMaturity','MaturityDate','MSA','CLDS','ModFlag','ZeroBalCode','ZeroBalDate',
          'LastInstallDate','ForeclosureDate','DispositionDate','PPRC','AssetRecCost','MHRC',
          'ATFHP','NetSaleProceeds','CreditEnhProceeds','RPMWP','OFP','NIBUPB','PFUPB','RMWPF',
          'FPWA','ServicingIndicator'];

df = pd.read_csv("realdata/2010Q1/Acquisition_2010Q1.txt", sep='|', names=col_acq, index_col=False)
#df_per = pd.read_csv("realdata/2010Q1/Performance_2010Q1.txt", sep='|', names=col_per, usecols=[0, 15], index_col=False)

In [15]:
columns = df.columns[df.isnull().any()]
df.loc[df[columns[0]].notnull(), columns[0]].values

array([80., 63., 43., ..., 73., 80., 50.])

In [17]:
name=columns[0]
df.loc[df[name].notnull()]
#df.loc[df[name].notnull()].drop(columns, axis=1).values

,LoanID,Channel,SellerName,OrInterestRate,OrUnpaidPrinc,OrLoanTerm,OrDate,FirstPayment,OrLTV,OrCLTV,...,PropertyType,NumUnits,OccStatus,PropertyState,Zip,MortInsPerc,ProductType,CoCreditScore,MortInsType,RelMortInd
0,100010079393,C,"WELLS FARGO BANK, N.A.",4.875,284000,360,01/2010,03/2010,80,80.0,...,PU,1,P,TX,787,NaN,FRM,NaN,NaN,N
1,100013622306,R,"JPMORGAN CHASE BANK, NATIONAL ASSOCIATION",4.750,87000,180,12/2009,02/2010,63,63.0,...,SF,1,P,CA,932,NaN,FRM,785.0,NaN,N
2,100019943199,R,OTHER,5.000,417000,360,11/2009,01/2010,43,43.0,...,PU,1,S,FL,342,NaN,FRM,808.0,NaN,N
3,100022098429,R,OTHER,5.250,461000,360,01/2010,03/2010,61,61.0,...,SF,2,P,NY,112,NaN,FRM,NaN,NaN,N
4,100023088745,R,"WELLS FARGO BANK, N.A.",5.250,100000,360,11/2009,01/2010,80,80.0,...,CO,1,P,OH,446,NaN,FRM,NaN,NaN,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323169,999990451380,R,"WELLS FARGO BANK, N.A.",4.875,520000,360,12/2009,02/2010,80,80.0,...,SF,1,P,WA,980,NaN,FRM,NaN,NaN,N
323170,999993511488,C,"WELLS FARGO BANK, N.A.",5.125,320000,360,12/2009,02/2010,48,48.0,...,PU,1,P,NC,276,NaN,FRM,NaN,NaN,N
323171,999993982336,R,"BANK OF AMERICA, N.A.",4.500,182000,180,12/2009,02/2010,73,73.0,...,SF,1,P,NC,283,NaN,FRM,711.0,NaN,N
323172,999998369629,C,OTHER,5.375,82000,360,02/2010,04/2010,80,80.0,...,SF,1,P,IL,623,NaN,FRM,712.0,NaN,N
323173,999999167522,R,OTHER,5.250,417000,360,01/2010,03/2010,50,50.0,...,SF,1,S,NJ,82,NaN,FRM,814.0,NaN,N

In [19]:
df.loc[df[name].isnull()].drop(columns, axis=1).values

array([[130130741506, 'C', 'JPMORGAN CHASE BANK, NATIONAL ASSOCIATION',
        4.375, 329000, 180, '01/2010', '03/2010', 78, 'N', 'R', 'SF', 1,
        'P', 'CA', 945, 'FRM', 'N'],
       [144364814031, 'C', 'CITIMORTGAGE, INC.', 4.875, 177000, 360,
        '01/2010', '03/2010', 76, 'N', 'R', 'SF', 1, 'P', 'IN', 462,
        'FRM', 'N'],
       [235795791219, 'C', 'PHH MORTGAGE CORPORATION', 4.25, 105000, 180,
        '12/2009', '02/2010', 47, 'N', 'C', 'SF', 1, 'P', 'OR', 970,
        'FRM', 'N'],
       [320032326266, 'C', 'CITIMORTGAGE, INC.', 4.5, 120000, 360,
        '01/2010', '03/2010', 22, 'N', 'R', 'PU', 1, 'P', 'VA', 220,
        'FRM', 'N'],
       [362402628547, 'C', 'GMAC MORTGAGE, LLC', 5.375, 104000, 360,
        '12/2009', '02/2010', 80, 'N', 'C', 'SF', 1, 'P', 'TX', 786,
        'FRM', 'N'],
       [403982264485, 'C', 'GMAC MORTGAGE, LLC', 5.25, 170000, 360,
        '01/2010', '03/2010', 80, 'N', 'R', 'SF', 1, 'S', 'AZ', 859,
        'FRM', 'N'],
       [547787321753, 'C', 'GMAC MORTGAGE, LLC', 5.25, 126000, 240,
        '01/2010', '03/2010', 79, 'N', 'R', 'SF', 2, 'P', 'NH', 33,
        'FRM', 'N'],
       [609277008889, 'C', 'GMAC MORTGAGE, LLC', 5.125, 93000, 360,
        '01/2010', '03/2010', 62, 'N', 'C', 'SF', 1, 'P', 'FL', 322,
        'FRM', 'N'],
       [784349412099, 'C', 'PHH MORTGAGE CORPORATION', 4.25, 164000, 180,
        '12/2009', '02/2010', 71, 'N', 'R', 'SF', 1, 'P', 'WI', 532,
        'FRM', 'N'],
       [829288103903, 'C', 'PHH MORTGAGE CORPORATION', 4.375, 107000,
        180, '12/2009', '02/2010', 44, 'N', 'C', 'SF', 1, 'P', 'WI', 542,
        'FRM', 'N'],
       [868515430211, 'C', 'CITIMORTGAGE, INC.', 4.875, 417000, 360,
        '01/2010', '03/2010', 78, 'N', 'R', 'SF', 1, 'P', 'LA', 707,
        'FRM', 'N'],
       [907048325649, 'C', 'PHH MORTGAGE CORPORATION', 4.875, 417000,
        360, '01/2010', '03/2010', 54, 'N', 'C', 'PU', 1, 'P', 'CA', 950,
        'FRM', 'N']], dtype=object)

In [ ]:
def getdummies(df):
    columns = df.columns[df.isnull().any()]
    nan_cols = df[columns]

    df.drop(nan_cols.columns, axis=1, inplace=True)

    cat = df.select_dtypes(include=['object'])
    num = df.drop(cat.columns, axis=1)

    data = pd.DataFrame()
    for i in cat.columns:
        tmp = pd.get_dummies(cat[i], drop_first=True)
        data = pd.concat([data, tmp], axis=1)

    df = pd.concat([num,data,nan_cols], axis=1).reset_index(drop=True)
    return df
new=getdummies(df_acq)
new.iloc[0:4, 0:16]

In [ ]:
df_acq

In [ ]:
df_acq.columns[df_acq.isnull().any()]

In [ ]:
cat=df_acq.select_dtypes(include=['object'])
cat

In [ ]:
df_acq.drop(cat.columns, axis=1)

In [ ]:
df_per.head()

In [ ]:
df_per.drop_duplicates(subset='LoanID', keep='last', inplace=True)
df = pd.merge(df_acq, df_per, on='LoanID', how='inner')

df.rename(index=str, columns={"ForeclosureDate": 'Default'}, inplace=True)

In [ ]:
df['Default'].fillna(0, inplace=True)
df.loc[df['Default'] != 0, 'Default'] = 1

df['Default'] = df['Default'].astype(int)

In [ ]:
df.head()

In [ ]:

df1=df.groupby('PropertyState')["Default"].apply(lambda x: (x==0).sum()).reset_index(name='NotDefaulted')
df2=df.groupby('PropertyState')["Default"].apply(lambda x: (x==1).sum()).reset_index(name='Defaulted')
df1.head()

In [ ]:
df2.head()

In [ ]:
df3=pd.merge(df1, df2, how='inner', on="PropertyState")
df3.head()

In [ ]:
labels=df3["PropertyState"].tolist()

In [ ]:
no=df3["NotDefaulted"].tolist()
max(no)
no/max(no)

In [ ]:
import matplotlib.pyplot as plt
labels=df3["PropertyState"].tolist()[0:5]
no=df3["NotDefaulted"].tolist()[0:5]
yes=df3["Defaulted"].tolist()[0:5]

width = 0.5       # the width of the bars: can also be len(x) sequence

fig, ax = plt.subplots()

ax.bar(labels, no, width, label='Not Defaulted')
ax.bar(labels, yes, width,
       label='Defaulted')

ax.set_ylabel('Number of Mortgages')
ax.set_title('Number of Mortgages by State')
ax.legend()
plt.tight_layout()
plt.show()

In [ ]:
df4.plot.bar(rot=0)

In [ ]:
import matplotlib.pyplot as plt
labels=df3["PropertyState"].tolist()[0:5]
no=df3["NotDefaulted"].tolist()[0:5]
yes=df3["Defaulted"].tolist()[0:5]
x = np.arange(len(labels))  # the label locations
width = 0.35  # the width of the bars

fig, ax = plt.subplots()
rects1 = ax.bar(x - width/2, no, width, label='Not Defaulted')
rects2 = ax.bar(x + width/2, yes, width, label='Defaulted')
ax.set_xticklabels(labels)
ax.set_ylabel('Number of Mortgages')
ax.set_title('Number of Mortgages by State')
ax.set_xticks(x)
ax.legend()
def autolabel(rects):
    """Attach a text label above each bar in *rects*, displaying its height."""
    for rect in rects:
        height = rect.get_height()
        ax.annotate('{}'.format(height),
                    xy=(rect.get_x() + rect.get_width() / 2, height),
                    xytext=(0, 3),  # 3 points vertical offset
                    textcoords="offset points",
                    ha='center', va='bottom')


autolabel(rects1)
autolabel(rects2)

plt.tight_layout()
plt.show()